.main {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 250px;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 49px;
    overflow-y: auto;
}
.ui-header-fixed {
    margin-left: 250px;
}

#index .main, #index .ui-header-fixed {
    margin-left: 0;
}

/* Sidebar */
aside {
    width: 260px !important;
    height: 100%;
    position: absolute !important;
    display: block;
    top: 0;
    left: 0 !important;
    background: #131313 url(../img/sidebar-background.jpg) repeat-y right;
    overflow-y: auto;
    z-index: 9 !important;
}

aside li, aside label, aside h2 {
    list-style: none;
    background: #1c1c1c url(../img/sidebar-list.jpg) no-repeat top right;
    border-bottom: 1px solid #000000;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}

aside label {
    border: none;
}

aside li:active {
    background: #303030 url(../img/sidebar-list-hover.jpg) no-repeat top right;
}

aside a, aside a:visited {
    padding: 8px 20px;
    display: block;
    font-weight: bold;
    color: #ffffff;
}

aside a:hover {
    color: #c6c6c6;
}

aside li.active a {
    color: #fe2a46;
}

aside label {
    padding: 8px 20px;
    display: block;
    color: #c6c6c6;
}

aside li span, aside li a:hover span {
    color: #fff;
    display: block;
    background: #be1d1e url(../img/color-red/sidebar-count.jpg) repeat-x top;
    float: right;
    margin-top: -1px;
    line-height: 12px;
    padding: 1px 5px;
    text-shadow: 0 -1px 1px #8d0013;
}

aside h2 {
    border-top: 1px solid #000000;
    padding: 8px 20px;
    font-weight: bold;
    color: #fff;
    background: #282828 url(../img/sidebar-headline.jpg) no-repeat top right;
}

aside ul {
    margin: 0;
    padding: 0;
}

/* Sidebar Toggle & Tabbed Navigation */
header {
    height: 47px;
    width: 100%;
    background: #2c2c2c url(../img/header-background.jpg) repeat-x top;
}

/* Sidebar Toggle */
.controls {
    background: #171717;
    float: left;
    margin: 6px 0 0 10px;
    padding: 3px;
}

.controls a, .controls img {
    display: block;
}

.controls img {
    width: 17px;
}

.controls a {
    cursor: pointer;
    border-top: 1px solid #5c5c5c;
    background: #212121 url(../img/controls.jpg) repeat-x top;
    padding: 6px 9px 8px;
}

.controls a:active {
    padding: 7px 9px;
    opacity: 0.65;
}

.controls.active img {
    opacity: 0.35;
}

/* Copyright Information */
footer {
    font-size: 11px;
    text-align: center;
    padding: 16px;
    color: #808080;
    text-shadow: 1px 1px 0px #f0f0f0;
    border-top: 1px solid #c8c8c7;
}